.DS_Store
package-lock.json

docs/

*.log
**/*.sublime-workspace

resources/
node_modules/

content/boek/src/boek.tex
content/boek/src/boek.pdf
content/boek/src/synopsis.pdf

*.aux
*.log
*.out
*.lot
*.lof
*.ilg
*.idx
*.ind
*.toc
