{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{- if isset .Params "featured_image" }}
    {{- $scratch.Set "image" .Params.featured_image }}
  {{- else }}
    {{ $scratch.Set "image" "thumbnail.svg" }}
  {{- end }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := ( $image | absLangURL) }}
<section class = 'post_header' style = 'background-image:url({{ $bg }});'>
</section>
<div class = 'post'>
  <div class='post_metadata'>
    <hr/>
    <h1 class='post_title'>{{ .Title }}</h1>
    <h3>
      <svg>
        <use xlink:href="#calendar"></use>
      </svg>  
      {{ .Lastmod.Format (.Site.Params.dateFormat | default "2 January 2006") }}
    </h3>
    <hr/>
  </div>
  <article class='post_content'>
    {{- .Content }}
    <div class = 'post_extra'>
      {{- partial "copy" . }}
    </div>
  </article>
</div>
<hr/>
<div class='post'>
  <aside>
    {{- partial "aside" . }}
  </aside>
</div>
<div class='post'>
  <article class='post_content' style="text-align: center;">
    <h3>
      <script>
        (function() {
          var list = [
            "Starter dood? Facebook to the rescue",
            "Hulp nodig? Laat een berichtje achter",
            "Brood mislukt? Laat ons helpen",
            "Ongerezen brood? Schakel hulp in",
            "Smaakmakers nodig? Brainstorm hier mee",
            "moeilijkheden met je deeg? Zo opgelost",
            "Desem te zuur? Vraag om tips",
            "Eerste experiment gelukt? Deel de vreugde",
            "Mooi brood gebakken? Deel de vreugde",
            "Lekker brood gebakken? Deel je trots",
            "Zuurdesemstarter gemaakt? Deel je trots",
            "Prachtige 'brood-foto' gemaakt? Deel je vreugde",
            "Trots op je zelfgemaakt brood? Deel je vreugde"
             ];
          var index = Math.floor(Math.random() * list.length);
          document.write(list[index]);
        })()
      </script>
     &raquo;</h3>

     <p>Klik op '<em>Berichten</em>' en laat iets van je horen!</p>

    <script>
      (function() {
        // https://developers.facebook.com/docs/plugins/page-plugin/ - max is 600
        var width = 600;
        var vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);
        if(vw < 600) width = vw - 10;
        document.write('<div class="fb-page" data-width="' + vw + '" data-href="https://www.facebook.com/redzuurdesem" data-hide-cover="false" data-tabs="timeline,messages" data-show-facepile="false"></div>');
      })()
    </script>
  </article>
</div>
<script src = '{{ absURL "js/autosize.min.js" }}'></script>
{{- $timeagoScr := resources.Get "js/timeago.js" | resources.ExecuteAsTemplate "js/timeago.js" . }}
<script src = '{{ $timeagoScr.Permalink }}'></script>
{{- end }}
