
#body-inner {
  margin-bottom: 0;
  padding-bottom: 0 !important;
}

.boek-row button {
  border: 1px solid black;
  padding: 0.7em;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px;
}

.boek-row a {
  line-height: 1.4 !important;
  color: black;
}

.boek-row button:hover {
  background: black;
  color: white;
}

.boek-col-left {
  float: left;
  width: 45%;
  vertical-align: center;
  text-align: center;
  padding-top: 30px;
}

.boek-col-right {
  float: right;
  width: 45%;
}

.boek-col-right img {
  -webkit-box-shadow: 6px 6px 3px 0px rgba(0,0,0,.75);
  -moz-box-shadow: 6px 6px 3px 0px rgba(0,0,0,.75);
  box-shadow: 6px 6px 3px 0px rgba(0,0,0,.75);
}

#chapter, #body .padding {
  padding-top: 0;
}

#body, #chapter p {
  text-align: justify;
}

.wp-caption-text {
  font-size: smaller;
  color: grey;
}

.aligncenter {
  margin-left: auto;
  margin-right: auto;
}