{{ define "main" }}

{{- $bg := ( .Params.image | absLangURL) }}
<section class='index-title post_header' style = 'height: 75vh; background-image:url({{ $bg }});'>
	<h1>
		<a href="/boek">
			Red<br/>
			Zuur<br>
			Desem
		</a>
	</h1>
</section>

<!-- BLOCK: boek reclame -->
<div class='post'>
<article class='post_content'>
	<h3>Nu beschikbaar:</h3>
	<h1><a href="/het-boek">Red Zuurdesem, het boek</a>!</h1>
	<h2>10 jaar kennis gebundeld in 370 pagina's</h2>
</article>
	<blockquote>
	<p>Red Zuurdesem is een met liefde gebakken boek waarin traag gefermenteerde ideeën uit zowel de praktische als de theoretische wereld met succes worden gecombineerd tot één geurig geheel, rijkelijk belegd met tips en formules om zelf aan de slag te gaan.</p>
	</blockquote>

	<div style="margin: 0 auto; text-align: center;">
		<a href="/het-boek#koop"><button>Koop nu!</button></a>
		<a href="/het-boek#meer"><button>Lees meer</button></a>
	</div>
</article>
</div>
<hr/>

<!-- BLOCK: blogposts -->
<div class = 'post post_content'>
	<h1>
		<a href="/post">Laatste blogposts</a> &raquo;
	</h1>
</div>
<ul class='posts wrap' id = 'posts'>
	{{- range first 4 (where .Site.RegularPages "Section" "==" "post") }}
	  {{ partial "excerpt" . }}
	{{- end }}
</ul>
<div class = 'post post_content'>
	<h4>
		<a href="/post">Bekijk alle blogposts</a> &raquo;
	</h4>
</div>
<hr/>

<!-- BLOCK: content -->
<div class = 'post'>
  <article class='post_content'>
    {{- .Content }}
  </article>
</div>
<hr/>

<!-- BLOCK: facebook posts -->
<div class='post post_content'>
	<h1>
		<a href="https://facebook.com/redzuurdesem">Laatste Facebook posts</a> &raquo;
	</h1>
</div>
<ul class='posts wrap' id = 'fbposts'>
</ul>
<script>
	window.fbAsyncInit = function() {
		var fbposts = document.querySelector('#fbposts');
		function whoops(error) {
			console.log(error);
			fbposts.innerHTML = "<li>Er is iets misgelopen bij het ophalen van Facebook posts.</li>";
		}
		function parseFeed(response) {
			if(response && !response.error) {
				var html = "";

				response.data.forEach(function(elem) {
					var id = elem.id.substring(elem.id.indexOf('_') + 1, elem.id.length);
					html += "<li class = 'post_item'><div class='fb-post' data-href='https://www.facebook.com/redzuurdesem/posts/" + id + "'></div></li>";
				});

				fbposts.innerHTML = html;
				FB.XFBML.parse(fbposts);
			} else {
				whoops(response.error);
			}
		}

		try {
			FB.api("/redzuurdesem/feed?limit=4&access_token={{ .Site.Params.fbtoken }}", parseFeed);
		} catch(e) {
			whoops(e);
		}
	}
</script>

<div class = 'post post_content'>
	<h4>
		<a href="https://facebook.com/redzuurdesem">Bekijk alle Facebook posts</a> &raquo;
	</h4>
</div>
<hr/>


{{ end }}
